<html>
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <link href="stylesheet.css" rel="stylesheet" type="text/css">

</head>
<body>

<div class="container container-mine">

    <div class="row">
        <div class="col-md-12 mx-auto">
            <h1>Sign In</h1>
            <form action="/login" method="POST">
                <div class="form-row">
                    <div class="col-12">
                        <input type="text" class="form-control form-control-lg" name="userName" placeholder="name" value=""/>
                        <br/>
                        <input type="password" class="form-control form-control-lg" name="password" placeholder="password"/>
                        <br/>
                        <button type="submit" class="btn btn-block btn-lg btn-primary">Sign in!
                    </div>
                    <div class="col-12">
                        {{#err}}
                            <p style="color:red;">{{err}}</p>
                        {{/err}}
                    </div>
                </div>
            </form>
            <p>Don't have an account? <a href="/register">Register Now</a> </p>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

</html>