<html>
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <link href="stylesheet.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body>

<!-- Rough styles added does not display properly below desktop size -->

<section id="cover">
    <div id="cover-caption">
        <div id="container" class="container">
            <div class="row">
                <div class="col-sm-10 offset-sm-1 text-center">
                    <h1>Milestones</h1>
                    <div class="info-form">
                        <form action="/milestones"  method="POST" class="form-inline justify-content-center">
                            <div class="form-group">
                                <label class="">Name</label>
                                <input type="text" class="form-control" name="name" placeholder="name"/>
                            </div>
                            <div class="form-group">
                                <label class="">Description</label>
                                <input type="text" class="form-control" name="description" placeholder="description"/>
                            </div>
                            <div class="form-group">
                                <label class="">Due Date</label>
                                <input type="text" class="form-control datepicker" name="dueDate" placeholder="duedate"/>
                            </div>
                    </div>
                    <input class="btn btn-primary" type="submit" name="method" value="Create" style="margin-bottom: 10px;"></input>
                    <input class="btn btn-outline-primary" type="submit" name="method" value="Update" style="margin-bottom: 10px;">
                </div>
            </div>
        </div>
    </div>
</section>


<div id="container" class="container">

    <div class="container-milestone">

    <p></p>
    {{^milestones}}
        <label>Hi {{user}} Create a milestone by entering the info above and clicking create </label>
    {{/milestones}}

    {{#milestones}}
        <ul>
            <li>
                {{#matches}}
                <div class="milestone-display"> <input type="radio" name="msgId" value="{{id}}">
                {{/matches}}
                  <b>Name:</b> {{name}} || <b>Due Date:</b> {{dueDate}} || <b>Completion Date:</b> {{completionDate}}<br>
                &emsp;<b>Description:</b> {{description}} <br>
                  <b>Share Code</b> {{shareCode}}
            </div>
            </li>
        </ul>
    {{/milestones}}

    {{#matches}}
    </div>

        <p class="center-text">Select a milestone and add a completion date</p>

    <div id="container" class="container">
        <div class="row">
            <div class="col-sm-10 offset-sm-1 text-center">

        <input type="text" class="form-control datepicker" name="completionDate" placeholder="CompletionDate"/>
        <input class="btn btn-outline-primary" type="submit" name="method" value="Add" style="margin-top:1em;">
        <input class="btn btn-outline-danger" type="submit" name="method" value="Delete" style="margin-top:1em;">

    {{/matches}}
            </div>
        </div>
    </div>
</form> <br>
        <div class="col-sm-10 offset-sm-1 text-center">
            <p> To share this list click the share button to generate the share code and add it to the end of the url below</p>
            <div>http://localhost:9001/sharedMilestone/?code=</div>
        <form action="/milestones" method="POST">
            <input class="btn btn-outline-primary" type="submit" name="method" value="Share" id="Share" style="margin-bottom: 10px;">
        </form>
            <form action="/logout" method="POST">
                <button type="submit">Logout</button>
            </form>
            <div>

</div>

</body>

<script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

<script
        src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
        integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
        crossorigin="anonymous"></script>

<script>
    $('.milestone-display').click(function() {
        $('input[name="msgId"]', this).prop("checked",true);
        $('.milestone-display').removeClass('selected');
        $(this).addClass('selected');
    });
</script>

<script>
    $( function() {
        $( ".datepicker" ).datepicker({ dateFormat: 'dd-mm-yy' });
    } );
</script>

</html>