html,
body{
    height: 100%;
}

.container-mine {
    text-align: center;
    width: 400px;
}

.container-milestone {
    text-align: center;
}

.center-text {
    text-align: center;
}

.milestone-display {
    background-color: gainsboro;
    border-radius: 5px;
    margin-bottom: 5px;
}

.milestone-display:hover {
    background-color: #c6c6c6 ;
}

.selected {
    border:2px solid #CAE3FE;
    background-color: #CAE3FE;
}


.center-text {
    text-align: center;
}

input[type="radio"] {
    position:fixed;
    opacity:0;
    visibility:hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}